.header-cartpage {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 6em;
    align-self: center;
    align-items: center;
}
.Titulo{ 
  display: flex;
  justify-content: center;


 }
  
 .chart-link{
     position: absolute;
     top: 50px;
     left: 1351px ;
 } 

  .chart-icon{
  margin-left: auto;
  display: flex;
}

.header-cartpage img {
    width: auto;
    height: 10vh;
}

.list-pizza {
    height: 70vh;
}

.list-pizza-selected {
    display: flex;
    justify-content: space-between;
    background-color: #d6d4d4;
    border-radius: 25px;
    margin: 0.2em 2em;
}
.pizza-info {
    display:flex;
    width: 35%;
    flex-direction: column;
    margin: 0 0 1.5em 2em;
}

.pizza-info button {
    height: 3em;
    width: 50%;
    border-radius: 150px;
    background-color: #FFEDC0;
    margin: 0 7px;
    border-style: solid;
    border-color: #FFEDC0;
}
.pizza-selected-quantity {
    display: flex;
    align-items: center;
    width: 15%;
    margin: 0  6.5em;
}

.pizza-selected-quantity button {
    width: 3em;
    height: 3em;
    border-radius: 150px;
    background-color: #FFEDC0;
    margin: 0 7px;
    border-style: solid;
    border-color: #FFEDC0;
}
.pizza-selected-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pizza-selected-price button{
    width: 2em;
    height: 2em;
}
.pizza-selected-price p {
    font-weight: bold;
}

.buy-now {
    display: flex;
    justify-content: space-evenly;
    margin: 2em  0;
    height: 10vh;
}

.buy-now button{
    height: 3em;
    width: 25%;
    border-radius: 150px;
    background-color: #FFEDC0;
    margin: 0 7px;
    border-style: solid;
    border-color: #FFEDC0;
}